{% load static %}

<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>ONLINEBAZAR</title>
    <meta name="GROCERY" content="">
    <meta name="ECOMMERCE" content="">
    <meta name="JYOTI" content="">

  <head>


    <link href="https://fonts.googleapis.cok/css?family=Satify" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}' >
    <!-- Site CSS -->
    <link rel="stylesheet"  type="text/css" href='{% static "css/style.css" %}' >

    <!-- Responsive CSS -->
     <link rel="stylesheet" type="text/css" href='{% static "css/responsive.css" %}' >

     <link rel="stylesheet" type="text/css" href='{% static "css/custom.css" %}' >





    <!--[if lt IE 9]-->
      <script src='{% static "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %}'></script>
      <script src='{%static "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %}'></script>
    <![endif]-->


    <title>{% block title%} {% endblock %}</title>


  </head>


  <body>



<body>


    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                       </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                   <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                         <li class="nav-item"><a class="nav-link" href="/offer">OFFER</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/shop">HOME</a></li>
                       <li class="nav-item"><a class="nav-link" href="/shop/checkout">CHECKOUT</a></li>
                       <li class="nav-item"><a class="nav-link" href="/shop/tracker">TRACKER</a></li>
                       <li class="nav-item"><a class="nav-link" href="/shop/about">ABOUT US</a></li>
                       <li class="nav-item"><a class="nav-link" href="/shop/contact">CONTACT US</a></li>
                    </ul>
                          <div class="submit-button text-center">
                          <form method='get' action='/shop/search/' class="form-inline my-2 my-lg-0">
                        <input class="form-control " type="search" placeholder="Search" aria-label="Search" name="search" id="search" data-error="Write your message" required>
                         <div class="help-block with-errors"></div>
                           <button class="btn hvr-hover" type="submit">Search</button>
                          </form>
                          </div>
                     <div class="submit-button text-center">
               <button type="button" class="btn hvr-hover" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" >
                Cart(<span id="cart"></span>)
                          </button>
                     </div>
</div>
            </div>
</nav>
        <!-- End Navigation -->
</header>
    <!-- End Main Top -->











{% block body %} {% endblock %}






    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="/shop/about">About Us</a></li>
                                <li><a href="/shop/about">Customer Service</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="/shop/tracker">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>



                     <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>OPENING HOURS</h4>
                            <ul>
                                <li> <a href="#">  Monday : Closed</a></li>
                                <li> <a href="#">  Tue-Wed : 9:Am - 8:PM</a></li>
                                <li> <a href="#">  Thu-Fri : 9:Am - 8:PM</a></li>
                                <li> <a href="#">  Sat-Sun : 9:PM - 8:PM</a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address:<br>Sant Kabir Nagar,KHALILABAD<br>272175</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+7985371468">7985371468</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:himanshusrivastav7071@gmail.com">himanshusrivastav7071@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  --
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ONLINEBAZAR</a> Design By :
            <a href="https://html.design/">html design</a></p>
    </div>
    End copyright  -->



    <!-- ALL JS FILES -->

    <script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
    <script src='{% static "js/popper.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- ALL PLUGINS -->
    <script src='{% static "js/jquery.superslides.min.js" %}'></script>
    <script src='{% static "js/bootstrap-select.js" %}'></script>
    <script src='{% static "js/inewsticker.js" %}'></script>
    <script src='{% static "js/bootsnav.js." %}'></script>
    <script src='{% static "js/images-loded.min.js" %}'></script>
    <script src='{% static "js/isotope.min.js" %}'></script>
    <script src='{% static "js/owl.carousel.min.js" %}'></script>
    <script src='{% static "js/baguetteBox.min.js" %}'></script>
    <script src='{% static "js/form-validator.min.js" %}'></script>
    <script src='{% static "js/contact-form-script.js" %}'></script>
    <script src='{% static "js/custom.js" %}'></script>
</body>

    <!-- Optional JavaScript --

    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

   jQuery first, then Popper.js, then Bootstrap JS -->

    {% block js %} {% endblock %}
